body {
  background-color: #eee;
}

.container {
  width: 700px;
  background-color: #fff;
  border-radius: 25px;
  margin: auto;
  margin-top: 100px;
  padding: 25px;
}

.container .toast button {
  border: 0;
  background: none;
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

.container .toast span:last-child {
  display: none;
}